/* 登录页面最外层 */
#login-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*header*/
#web-login-header{
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 4vw;
    top: 4vh;
}

#web-login-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#web-login-icon {
    transform: translateY(1rem);
    width: 3rem;
    height: 3rem;
}

#web-login-title {
    font-size: 2rem;
}

/* 登录主要内容容器 */
#login-main-div {
    background-color: #fff;
    padding: 2.5rem 3rem;
    border-radius: 12px;
    width: 350px;
    text-align: left;
}

/* 标题 */
#login-h2 {
    font-size: 1.8rem;
    
    color: #FF9B00;
    margin-bottom: 1rem;
}

#login-h3 {
    font-size: 1rem;
    font-weight: 400;
    color: #666;
    margin-bottom: 1rem;
}

#login-h3 a {
    color: #FF9B00;
    text-decoration: none;
    margin-left: 0.25rem;
}

#login-h3 a:hover {
    text-decoration: underline;
}

/* 输入框容器 */
#login-email-wrapper,
#login-password-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 0.5rem;
    transition: border-color 0.3s;
}

#login-email-wrapper:focus-within,
#login-password-wrapper:focus-within {
    border-color: #FF9B00;
}

/* 输入框标签 */
#login-email-span span,
#login-password-span span {
    width: 60px;
    font-weight: 500;
    color: #333;
    margin-bottom: 1rem;
}

/* 输入框本体 */
#login-email-input input,
#login-password-input input {
    box-sizing: border-box; 
    border: 1px solid #ddd;
    width: 100%;
    height: 3rem;
    flex: 1;
    font-size: 0.95rem;
    padding: 0.5rem; 
    border-radius: 6px; 
}

/* 登录按钮 */
#login-btn {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    color: #fff;
    background-color: #FF9B00;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#login-btn:hover {
    background-color: #e68a00;
}

/* 忘记密码 */
#login-forgot {
    margin-top: 1rem;
    font-size: 0.875rem;
}

#login-forgot a {
    color: #FF9B00;
    text-decoration: none;
}

#login-forgot a:hover {
    text-decoration: underline;
}