@font-face {
    font-family: 'Mozilla';
    src: url('./assets/fonts/MozillaText.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


:root body,html{
    margin: 0;
    padding: 0;
    font-family: 'Mozilla'
}

